// Colors
$color-green: #60fe00;
$color-green-light: #61FF00;
$color-green-dark: #37AB49;
$color-white: #fff;
$color-grey-light: #707070;
$color-grey-dark: #262626;

// Fonts
$font-primary-bold: "FirsBold";
$font-primary-bold-italic: "FirsBoldItalic";
$font-primary-medium: "FirsMedium";
$font-primary-medium-italic: "FirsMediumItalic";
$font-primary-regular: "FirsRegular";