@font-face {
  font-family: "FirsBoldItalic";
  src: url(/dist/fonts/FirsBoldItalic.ttf);
}

@font-face {
  font-family: "FirsBold";
  src: url(/dist/fonts/FirsBold.ttf);
}

@font-face {
  font-family: "FirsMedium";
  src: url(/dist/fonts/FirsMedium.ttf);
}

@font-face {
  font-family: "FirsMediumItalic";
  src: url(/dist/fonts/FirsMediumItalic.ttf);
}

@font-face {
  font-family: "FirsRegular";
  src: url(/dist/fonts/FirsRegular.ttf);
}